# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/spec/dummy/db/*.sqlite3
/spec/dummy/log/*.log
/spec/dummy/tmp
